* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-image: url(../img/fondo_quesos_2.jpg), url(../img/fondo_quesos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}