* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Formulario registro */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, -apple-system, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    background: #3b4465;
}

.forms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.form-wrapper {
    animation: hideLayer 0.3s ease-out forwards;
}

.form-wrapper.is-active {
    animation: showLayer 0.3s ease-in forwards;
}

@keyframes showLayer {
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}

@keyframes hideLayer {
    0% {
        z-index: 1;
    }
    49.999% {
        z-index: 1;
    }
}

.switcher {
    position: relative;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: rgb(116, 106, 106);
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateX(0);
    transition: all 0.3s ease-out;
}

.form-wrapper.is-active .switcher-login {
    color: rgb(0, 0, 0);
    transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
    color: rgb(0, 0, 0);
    transform: translateX(-90px);
}

.underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 2px;
}

.underline::before {
    content: "";
    position: absolute;
    top: 0;
    left: inherit;
    display: block;
    width: inherit;
    height: inherit;
    background-color: currentColor;
    transition: transform 0.2s ease-out;
}

.switcher-login .underline::before {
    transform: translateX(101%);
}

.switcher-signup .underline::before {
    transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
    transform: translateX(0);
}

.form {
    overflow: hidden;
    min-width: 260px;
    margin-top: 50px;
    padding: 30px 25px;
    border-radius: 5px;
    transform-origin: top;
}

.form-login {
    animation: hideLogin 0.3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
    animation: showLogin 0.3s ease-in forwards;
}

@keyframes showLogin {
    0% {
        background: #ffffff69;
        transform: translate(40%, 10px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background-color: rgba(234, 241, 21, 0.349);
        transform: translate(35%, -20px);
    }
}

@keyframes hideLogin {
    0% {
        background-color: rgba(255, 255, 255, 0.459);
        transform: translate(35%, -20px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background: rgba(236, 238, 188, 0.349);
        transform: translate(40%, 10px);
    }
}

.form-signup {
    animation: hideSignup 0.3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
    animation: showSignup 0.3s ease-in forwards;
}

@keyframes showSignup {
    0% {
        background: #ffffff69;
        transform: translate(-40%, 10px) scaleY(0.8);
    }
    50% {
        transform: translate(0, 0) scaleY(0.8);
    }
    100% {
        background-color: rgba(234, 241, 21, 0.349);
        transform: translate(-35%, -20px) scaleY(1);
    }
}

@keyframes hideSignup {
    0% {
        background-color: rgba(255, 255, 255, 0.459);
        transform: translate(-35%, -20px) scaleY(1);
    }
    50% {
        transform: translate(0, 0) scaleY(0.8);
    }
    100% {
        background: rgba(236, 238, 188, 0.349);
        transform: translate(-40%, 10px) scaleY(0.8);
    }
}

.form fieldset {
    position: relative;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 0.3s ease-out;
}

.form-login fieldset {
    transform: translateX(-50%);
}

.form-signup fieldset {
    transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in, transform 0.35s ease-in;
}

.form legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.input-block {
    margin-bottom: 20px;
}

.input-block label {
    font-size: 14px;
    color: #000000;
}

.input-block input {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #3b4465;
    background: #eef9fe;
    border: 1px solid #cddbef;
    border-radius: 2px;
}

.form [type="submit"] {
    opacity: 0;
    display: block;
    min-width: 120px;
    margin: 30px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all 0.3s ease-out;
}

.form-wrapper.is-active .form [type="submit"] {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s ease-in;
}

.btn-login {
    color: #fbfdff;
    background: #7caa31;
    transform: translateX(-30%);
}

.btn-signup {
    color: #7caa31;
    background: #fbfdff;
    box-shadow: inset 0 0 0 2px #a7e245;
    transform: translateX(30%);
}


/* Fin formulario registro */

.bodyNoIndex {
    height: 100vh;
    background-image: url(../img/fondo/fondo_quesos_2.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.bodyTienda {
    overflow-x: hidden;
}

td {
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.mainIndex {
    display: flex;
    justify-content: center;
}

.videoFondo {
    margin: 0;
    padding: 0;
    position: absolute;
    height: auto;
    min-height: 50px;
    width: 100vw;
    filter: opacity(80%);
    z-index: -3;
}

.colCards {
    top: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cardIndex {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 1rem 0rem;
    border-radius: 3rem;
    height: 13rem;
    width: 13rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 1rem 1rem 2rem rgb(131, 125, 45), -1rem -1rem 2rem rgb(131, 125, 45);
}

@media (max-width: 768px) {
    .cardIndex {
        height: 10rem;
        width: 10rem;
    }
}

.card:hover {
    box-shadow: -0.5rem -0.5rem 1rem rgb(131, 125, 45) inset;
}

.cardTitle {
    border-radius: 4rem;
    text-align: center;
    background-color: white;
}

.cardTienda {
    background-image: url(../img/fondo/tienda.jpg);
}


/* Efectos de las cards */

figure.imagenes {
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 0px;
    min-width: 80%;
    max-width: 100%;
    max-height: auto;
    min-height: 70%;
    color: #000000;
    text-align: center;
}

figure.imagenes * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

figure.imagenes img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.imagenes:after {
    background: #f0e985;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    opacity: 0.75;
    -webkit-transform: skew(-45deg) scaleX(0);
    transform: skew(-45deg) scaleX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure.imagenes figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

figure.imagenes h2,
figure.imagenes p {
    margin: 0;
    width: 100%;
    opacity: 0;
}

figure.imagenes h2 {
    padding: 0 30px;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
}

figure.imagenes p {
    padding: 0 50px;
    font-size: 0.8em;
    font-weight: 500;
}

figure.imagenes a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.imagenes:hover:after,
figure.imagenes.hover:after {
    -webkit-transform: skew(-45deg) scaleX(1);
    transform: skew(-45deg) scaleX(1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

figure.imagenes:hover figcaption h2,
figure.imagenes.hover figcaption h2,
figure.imagenes:hover figcaption p,
figure.imagenes.hover figcaption p {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.imagenes:hover figcaption h2,
figure.imagenes.hover figcaption h2 {
    opacity: 1;
}

figure.imagenes:hover figcaption p,
figure.imagenes.hover figcaption p {
    opacity: 0.7;
}

.tiendaCard {
    width: 17rem;
}

.colTiendaCard {
    display: flex;
    justify-content: center;
}


/* Fin de efecto de cards */

#rowFormu {
    justify-content: center;
}

#formulario {
    width: 80%;
}

@media (min-width: 768px) {
    #rowFormu {
        justify-content: left;
        width: 100%;
    }
    #formulario {
        width: 100%;
    }
}